.cards-container {
    width: 90%;
    margin: 0  auto;
    padding-top: 20px;
}


.home-container {
    width: 80%;
    margin: 0  auto;
}



.home-title {
    margin-bottom: 0px !important;
    color: var(--red) !important;
}

.hr{
    width: 20%;
    background-color: var(--red);
    height: .1em;
    margin: 0 auto;
    position: relative;
    right:  68px;
}


@media screen and (max-width: 764px) {
    .home-title {
        text-align: center;
        padding-bottom: 5px;
    }
    .hr {
        margin-bottom: 10px;
        right: 0px;
    }
}