
.table-container {
    /* background-color: red; */
    /* overflow-x: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin; */
}

.table-container::-webkit-scrollbar  {

}

.ant-table {
    overflow-x: scroll !important;
    scrollbar-width: thin;
}

.ant-table::-webkit-scrollbar {
    height: 3px;
  }

.ant-table::-webkit-scrollbar-track {
    background-color: var(--background);
}

.ant-table::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
  }


table  {
    border-spacing: 0 15px !important;
    background-color: var(--background);
}

.ant-table-thead > tr > th   {
    background-color: transparent !important;
    padding: 0;
    border-radius: 8px;
    border-right: 10px  solid var(--background);
}

.ant-table-thead > tr > th > div {
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    padding-right: 13px;
    padding-left: 13px;
}

.ant-table-thead > tr > th:last-child {
    border-right: 0px;
    border-top-right-radius: 8px !important;
    background-color:  #fff !important;
    padding-left: 10px  !important;
    padding-right: 10px  !important;
}


.ant-table-thead > tr > th:first-child  {
    border-top-left-radius: 8px !important;
}


.ant-table-tbody > tr > td  {
    background-color: white;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right:10px;
    padding-left: 10px;
  
}


.ant-table-tbody > tr  > td:last-child {
    padding: 0px !important;
    margin-bottom: 20px !important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.ant-table-tbody  > tr > td:first-child  {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.ant-pagination-item {
    min-width: 15px !important;
}

.ant-table-pagination.ant-pagination {
    margin: 16px auto;
    margin-top: 50px;
    background-color: #fff;
    width: fit-content;
    padding: 2px;
    border-radius: 8px;
    height: 30px;
    align-items: center;
}

.ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link {
    border: none;
}

.ant-pagination-item-active {
    font-weight: 500;
    border-radius: 10px;
    border: none;
    height: 25px !important;
}

.ant-pagination-item-active a {
    color: var(--black);
    font-size: 12px !important;
    background: var(--lightRed);
    border-radius: 7px;
    padding: 0;
    height: 20px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ant-pagination-disabled .ant-pagination-item-link {
    height: 20px !important;
    position: relative;
    top: -1px;
}

/* TABLE TAGS */

.success{
    background-color: var(--lightGreen);
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--green);
    font-weight: bold;
}

.rescheduled {
    background-color: var(--lightOrange);
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--orange);
    font-weight: bold;
}

.missed  {
    background-color: var(--lightRed);
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--red);
    font-weight: bold;
}

.btn-add {
    background-color: var(--btnRed);
    border-radius: 10px;
    color: #fff;
    position: fixed;
    bottom: 40px;
    right: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
