body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --primary: #5E92A7;
  --secondary: #9D9E9D;
  --background: #EEEAE7;
  --white: #FFFFFF;
  --red: #DD3939;
  --lightRed: #EECDCF;
  --orange: #E29639;
  --lightOrange: #EEDAC1;
  --green: #507D68;
  --lightGreen: #CFD6CF;

}